@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "AkzidenzGroteskBQ-BdCnd";
  src: url("../fonts/AkzidenzGrotesk-Cond.otf");
  src: url("../fonts/AkzidenzGrotesk-Cond.svg") format("svg"), url("../fonts/AkzidenzGrotesk-Cond.ttf") format("truetype"), url("../fonts/AkzidenzGrotesk-Cond.woff"), format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue Regular.otf");
  src: url("../fonts/BebasNeue-Regular.svg") format("svg"), url("../fonts/BebasNeue Regular.ttf") format("truetype"), url("../fonts/BebasNeue-Regular.woff"), format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul li {
  list-style: none;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg img {
  display: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 842pxpx;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

header {
  padding: 29px 20px 33px 20px;
}
@media (max-width: 479.98px) {
  header {
    padding: 19px 0px 20px 0px;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header-top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-top-lang__item {
  display: block;
  font-family: Bebas;
  color: #000;
  font-size: 0.8rem;
  line-height: 190%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0px 4px;
  font-weight: 600;
}
.header-top-lang__item.active {
  background-color: #000;
  color: white;
}
.header-top-lang__item:not(:last-child) {
  margin: 0px 12px 0px 0px;
}
@media (max-width: 767.98px) {
  .header-top-lang {
    padding: 0px 0px 15px 0px;
  }
}

.header-top__link {
  font-size: 0.91rem;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  text-decoration: underline;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-left: 15px;
  color: #000;
  z-index: 11;
}
.header-top__link:hover {
  text-decoration: none;
}
@media (max-width: 479.98px) {
  .header-top__link {
    font-size: 0.8rem;
  }
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -22px 0px 0px 0px;
  text-align: right;
}
.header-bottom__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .header-bottom {
    margin: -30px 0px 0px 0px;
  }
}

.header-bottom-menu__link {
  color: #000;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 0.12em;
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .header-bottom-menu__link {
    display: block;
    padding: 0px 0px 10px 0px;
  }
}
.header-bottom-menu._right :not(:first-child) {
  margin: 0px 0px 0px 40px;
}
@media (max-width: 767.98px) {
  .header-bottom-menu._right :not(:first-child) {
    margin: 0;
  }
}
.header-bottom-menu._left :not(:last-child) {
  margin: 0px 40px 0px 0px;
}
@media (max-width: 767.98px) {
  .header-bottom-menu._left :not(:last-child) {
    margin: 0;
  }
}

.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header-bottom-menu-list {
    display: block;
  }
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 11;
}
.header-logo__text {
  color: #000;
  font-family: Bebas;
  font-size: 0.65rem;
  letter-spacing: 0.8em;
  line-height: 312.5%;
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .header-logo__text {
    font-size: 0.6rem;
  }
}
@media (max-width: 479.98px) {
  .header-logo__text {
    letter-spacing: 0.4em;
  }
}
.header-logo__image {
  display: inline-block;
  margin: -15px 0px -15px 0px;
}
@media (max-width: 767.98px) {
  .header-logo__image img {
    width: 140px;
  }
}
@media (max-width: 479.98px) {
  .header-logo__image {
    margin: -11px 0px -11px 0px;
  }
  .header-logo__image img {
    width: 120px;
  }
}

.header-menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 18px;
    left: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header-menu__icon span {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header-menu__icon span:first-child {
    top: 0px;
  }
  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header-menu__icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .header-menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background-color: #fff;
    padding: 90px 10px 20px 20px;
  }
  .header-menu.active {
    left: 0;
  }
}
.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
}
@media (max-width: 767.98px) {
  .footer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 15px 0px;
  }
}
@media (max-width: 767.98px) {
  .footer-body__column:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-body__column:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__text {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  padding-left: 10px;
}
@media (max-width: 479.98px) {
  .footer__text {
    text-align: center;
  }
}
.footer__text a {
  text-decoration: underline;
  color: #4d4d4d;
}
.footer__text a:hover {
  text-decoration: none;
}
.footer__logo {
  padding-right: 10px;
}

.private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}
@media (max-width: 992.98px) {
  .private {
    display: block;
  }
  .private .ibg img {
    display: block;
    width: 100%;
  }
}
.private__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.private__image {
  height: 100%;
}

.private-body-content {
  width: 303px;
}
@media (max-width: 992.98px) {
  .private-body-content {
    margin: 0px auto;
    width: 450px;
  }
}
@media (max-width: 479.98px) {
  .private-body-content {
    width: 303px;
  }
}

.private-body {
  padding: 75px 0px 75px 60px;
}
@media (max-width: 992.98px) {
  .private-body {
    padding: 45px 10px 45px 10px;
  }
}
.private-body__title {
  font-family: "AkzidenzGroteskBQ-BdCnd";
  color: white;
  text-transform: uppercase;
  font-size: 3.125rem;
  letter-spacing: 0.2em;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 30px;
}
.private-body__text {
  font-family: "PT Sans";
  color: #fff;
  font-size: 0.9375rem;
  line-height: 166%;
  margin: 0px 10px 55px 0px;
}

.private-body-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.private-body-buttons__link {
  color: #fff;
  font-size: 1.2rem;
  font-family: Bebas;
  letter-spacing: 0.1em;
  margin-left: 14px;
  text-decoration: underline;
}
.products__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 767.98px) {
  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 400px) {
  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.container {
  max-width: 880px;
}

.products-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 10px 40px;
}
@media (max-width: 767.98px) {
  .products-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 10px 0px;
  }
}

.products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 0px 0px 40px 0px;
}
.products-item__image {
  display: block;
  padding: 0px 0px 102.28% 0px;
}
.products-item__title {
  display: inline-block;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 1.5625rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 100%;
  padding: 25px 0px 35px 5px;
  max-width: 121px;
}
@media (max-width: 400px) {
  .products-item__title {
    max-width: none;
    height: auto;
    overflow: visible;
    padding: 25px 0px 15px 5px;
  }
}
.products-item__text {
  font-family: "PT Sans";
  font-size: 0.9375rem;
  max-width: 185px;
  line-height: 166%;
  padding: 0px 0px 30px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 400px) {
  .products-item__text {
    max-width: none;
    padding: 0px 0px 15px 0px;
  }
}
.products-item__link {
  display: inline-block;
  padding: 30px 0px 0px 0px;
  color: #000;
  font-size: 1.2rem;
  font-family: Bebas;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: underline;
}

.why-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}
.why-top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (max-width: 666px) {
  .why-top__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.why-top__text {
  color: #fff;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 2.9rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: right;
  padding: 50px 45px 50px 10px;
}
@media (max-width: 900px) {
  .why-top__text {
    font-size: 2.3rem;
  }
}
@media (max-width: 767.98px) {
  .why-top__text {
    font-size: 2rem;
    text-align: center;
    padding: 25px 10px 25px 10px;
  }
}
.why-top__image {
  height: 100%;
}
@media (max-width: 666px) {
  .why-top__image {
    display: none;
  }
}

.why-bottom {
  background-color: #ebebeb;
  padding: 50px 0px 0px 0px;
}

.container {
  max-width: 880px;
}

.why-bottom-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.why-bottom-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 800px) {
  .why-bottom-body__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 50px 10px;
}
.bottom-item__icon {
  background-color: #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0px 0px 0px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bottom-item__title {
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 1.5625rem;
  letter-spacing: 0.1em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 479.98px) {
  .bottom-item__title {
    font-size: 1.2rem;
  }
}
.bottom-item__text {
  font-family: "PT Sans";
  font-size: 0.9375rem;
  line-height: 166%;
  padding: 0px 15px 0px 0px;
}
@media (max-width: 479.98px) {
  .bottom-item__text {
    font-size: 0.8rem;
  }
}

.contacts {
  padding: 82px 0px 0px 0px;
}
.contacts__title {
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-size: 3.125rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0px 0px 40px 15px;
}

.contacts-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px 0px 15px;
}
.contacts-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 20px 0px;
}
.contacts-body__item {
  font-size: 0.9375rem;
  line-height: 180%;
  text-align: left;
  color: #000;
  padding: 0px 0px 0px 35px;
  display: inline-block;
}
.contacts-body__item--1 {
  background: url("../img/contacts/01.svg") left no-repeat;
}
.contacts-body__item--2 {
  background: url("../img/contacts/03.svg") left no-repeat;
}
.contacts-body__item--3 {
  background: url("../img/contacts/02.svg") left no-repeat;
}

.contacts-social {
  height: 100%;
}
.contacts-social__item {
  padding: 0px 40px 10px 0px;
  width: 100%;
  overflow: hidden;
  line-height: 180%;
}
.contacts-social__item:last-child {
  margin: 0px;
}
.contacts-social__item--1 {
  background: url("../img/icons/social/01.svg") left no-repeat;
}
.contacts-social__item--2 {
  background: url("../img/icons/social/02.svg") left no-repeat;
}
.contacts-social__item--3 {
  background: url("../img/icons/social/03.svg") left no-repeat;
}
.contacts-social__item--4 {
  background: url("../img/icons/social/04.svg") left no-repeat;
}

.contacts-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}
@media (max-width: 992.98px) {
  .contacts-bottom {
    display: block;
  }
}
.contacts-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.contacts-bottom__map {
  height: 100%;
}
.contacts-bottom__form {
  padding: 55px 60px;
}

.contacts-bottom-form__title {
  color: #fff;
  font-size: 1.5625rem;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  line-height: 100%;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0px 0px 28px 0px;
}
.contacts-bottom-form-body {
  max-width: 375px;
}
@media (max-width: 767.98px) {
  .contacts-bottom-form-body {
    max-width: none;
  }
}

.contacts-bottom-form-line {
  margin: 0px 0px 30px 0px;
}

.btn {
  display: inline-block;
  padding: 13px 33px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: black;
  color: white;
  letter-spacing: 0.13em;
  line-height: 166%;
  font-family: Bebas;
}
.btn.btn--w {
  background-color: white;
  color: black;
}
.btn:hover {
  -webkit-box-shadow: 2px 2px 5px rgb(164, 162, 162);
          box-shadow: 2px 2px 5px rgb(164, 162, 162);
}

input[type=text], input[type=email], input[type=tel], textarea {
  -weblit-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.input {
  border-radius: 0;
  width: 100%;
  display: block;
  padding: 0px 18px;
  border: 2px solid #959595;
  background-color: #252525;
  height: 50px;
  color: #959595;
  font-family: "PT Sans";
  font-size: 15px;
}
textarea.input {
  resize: none;
  padding: 10px 18px;
  height: 100px;
}